{@io.github.cardil.knsvng.domain.entity.Project project}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{project.artifactId} - {project.version}</title>
  <link href="/style.css" rel="stylesheet"/>
</head>
<body>

<div class="banner lead">
  Your new Cloud-Native application is ready!
</div>

<div class="container">
  <div class="left-column">
    <p class="lead"> Congratulations, you have created a new Quarkus application.</p>

    <h2>What can I do from here?</h2>

    <p>Invoke a hello service: <a href="/hello">/hello</a>.</p>
    <h3>References</h3>
    <p>This application has been written with Quarkus to showcase Knative.</p>
    <p>
      <br />
      <img src="//design.jboss.org/quarkus/logo/final/SVG/quarkus_logo_vertical_rgb_default.svg" height="200" />

      <img src="//raw.githubusercontent.com/knative/website/master/assets/icons/logo.svg" height="200" />
    </p>
  </div>
  <div class="right-column">
    <div class="right-section">
      <h3>Application</h3>
      <ul>
        <li>GroupId: <code>{project.groupId}</code></li>
        <li>ArtifactId: <code>{project.artifactId}</code></li>
        <li>Version: <code>{project.version}</code></li>
        <li>Quarkus Version: <code>{project.platformVersion}</code></li>
      </ul>
    </div>
  </div>
</div>


</body>
</html>
